.code-challenge {
    max-width: 1000px;

    &.a-before-enter {
        opacity: 0;
        transform: translateY(20px);
        transition: 0.3s ease-in;
    }

    &.a-enter {
        opacity: 1;
        transform: translateY(0);
    }

    .code-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        position: relative;
        margin-top: 50px;

        .a-before-enter {
            opacity: 0;
            transform: translateY(20px);
            transition: 0.2s ease-in-out;
        }
    
        .a-enter {
            opacity: 1;
            transform: translateY(0);
        }

        .code-item {
            visibility: visible;
            background-color: rgba(255, 255, 255, 0);
            box-shadow: 0 10px 30px -15px var(--navy-shadow);
            border-radius: var(--border-radius);
            transition: 0.2s;
            height: 100%;
            
            

            .code-item-inner {
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                flex-direction: column;
                gap: 20px;
                padding: 2rem 1.75rem;
                height: 88%;

                header {
                    .item-top {
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        justify-content: space-between;

                        .item-folder {
                            color: var(--primary) !important;
                            .icon {
                                color: var(--primary) !important;
                            }
                        }
                        .item-links {
                            display: flex;
                            margin-right: -15px;
                            color: var(--lightSlate) !important;

                            .item-links-toggle {
                                padding: 0px 5px;
                                cursor: pointer;
                                .icon {
                                    color: var(--lightSlate) !important;
                                }

                                &:hover {
                                    .icon {
                                        color: var(--primary) !important;
                                    }
                                }
                            }
                        }
                    }

                    h3 {
                        margin: 0px 0px 0px;
                        color: var(--lightestSlate);
                        font-size: 1.2rem;
                        line-height: 1.1;
                    }

                    .item-des {
                        color: var(--lightSlate);
                        font-size: 0.9rem;
                        line-height: 1.2;
                    }
                }

                footer {
                    ul {
                        display: flex;
                        align-items: flex-end;
                        flex-grow: 1;
                        flex-wrap: wrap;
                        padding: 0px;
                        gap: 10px;
                        list-style: none;

                        li {
                            font-family: var(--font-mono);
                            font-size: 0.8rem;
                            color: var(--lightSlate);
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            .icon {
                                color: var(--lightSlate);
                            }
                        }
                    }
                }
            }

            &:hover {
                transition-delay: 0ms !important;
                transform: translate(0px, -5px);
                box-shadow: var(--black-shadow);
                background-color: var(--lightBackground);
            }
        }
    }
}