.my-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    flex-direction: column;

    .footer-toggle-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: var(--lightSlate);
        flex-direction: column;
        padding: 0 20px;

        .copy-right {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &:hover {
            color: var(--primary);
        }
    }

    .icon-highlight {
        color: var(--primary);
    }

    &.a-before-enter {
        opacity: 0;
        transform: translateX(20px);
        transition: 0.5s;
    }
    
    &.a-enter {
        opacity: 1;
        transform: translateY(0);
    }
}