
:root {
    
    --font-sans: "Calibre","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --border-radius: 4px;
    --fz-xs: 13px;
    --fz-xxl: 22px;
    --fz-lg: 18px;

    // default theme
    --background: #0a192f;
    --lightBackground: #112240;
    --nav-bg: rgba(10, 25, 47, 0.85);
    --primary: #64ffda;
    --primary-darker: #349780;
    --liteprimary: #172a45;
    --lightestPrimary: #303C55;
    --slate: #8892b0;
    --lightSlate: #a8b2d1;
    --lightestSlate: #ccd6f6;
    --white: #e6f1ff;
    --secondary: #424242;
    --accent: #82B1FF;
    --error: #FF5252;
    --info: #2196F3;
    --success: #4CAF50;
    --warning: #FFC107;
    --black-shadow: 0 10px 30px -15px black;
    --navy-shadow: rgba(2,12,27,1);

    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --border-radius: 4px;
    --tab-height: 50px;
    --tab-width: 120px;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --fz-xxl: 22px;

    // for linear gradient
    --linear-1: #ef4e7b;
    --linear-2: #a166ab;
    --linear-3: #5073b8;
    --linear-4: #1098ad;
    --linear-5: #07b39b;
    --linear-6: #6fba82;
}

@import './styles/themes.scss';


*,
::before,
::after {
    font-family: var(--font-mono);
    box-sizing: inherit;
    user-select: none;
    outline: none;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.highlight:hover {
    color: var(--primary);
}

.cursor-pointer {
    cursor: pointer;
}
// components
@import './styles/scrollbar.scss';
@import './styles/body.scss';
@import './styles/header.scss';
@import './../components/GradientBorder/style.scss';
@import './../components/social-media-links/style.scss';

//css pages
@import './../views/AboutMe/style.scss';
@import './../views/CodeChallenge/style.scss';
@import './../views/ContactMe/style.scss';
@import './../views/MyExperience/style.scss';
@import './../views/MyWork/my-work.scss';
@import './../components/Footer/Footer.scss';
@import './styles/transition.scss';