body {
     margin: 0px;
     width: 100%;
     min-height: 100%;
     overflow-x: hidden;
     -webkit-font-smoothing: antialiased;
     line-height: 1.3;
}

p {
     display: block;
     margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     color: var(--v-lightestSlate-base);
}

h3, ul {
     color: var(--v-lightestSlate-base);
}


section {
     margin: 0px auto;
     padding: 0px 0px;
     display: block;
}

img {
     width: 100%;
}

a {
     display: inline-block;
     text-decoration: none;
     text-decoration-skip-ink: auto;
     color: inherit;
     position: relative;
     transition: var(--transition) !important;
     cursor: pointer;
}
p {
     
     a {
          display: inline-block;
          text-decoration: none;
          text-decoration-skip-ink: auto;
          position: relative;
          transition: var(--transition) !important;
          cursor: pointer;

          &::after {
               content: "";
               display: block;
               width: 0px;
               height: 2px;
               position: relative;
               bottom: 0.37em;
               background-color: var(--v-primary-base);
               transition: var(--transition) !important;
               opacity: 0.5;
          }

          &:hover {
               &::after {
                    width: 100%;
               }
          }
     }
}

.v-tabs{
     background-color: var(--v-background-base) !important;
}
.v-window {
     background-color: var(--v-background-base) !important;
}
.v-tabs > .v-tabs-bar .v-tabs-bar__content {
     background-color: var(--v-background-base) !important;
 }
.v-tabs--vertical > .v-tabs-bar .v-tabs-bar__content {
     background-color: var(--v-background-base) !important;
 }
.tab-items {
     background-color: var(--v-background-base) !important;
}
.v-card {
     background-color: var(--v-background-base) !important;
}

.numbered-header{
     display: flex;
     -webkit-box-align: center;
     align-items: center;
     position: relative;
     margin: 10px 0px 40px;
     width: 100%;
     font-size: clamp(26px), 5vw, 32px;
     white-space: nowrap;
     color: var(--v-lightestSlate-base);

     .front-icon {
          color: var(--v-primary-base) !important;
          margin-right: 10px;
     }

     &::after {
          content: "";
          display: block;
          position: relative;
          width: 300px;
          height: 1px;
          margin-left: 20px;
          background-color: var(--v-slate-base);
     }
}