// for chromes scrollbar
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
*::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--lightestPrimary);
}
::-webkit-scrollbar-corner {
    background: var(--lightestPrimary);
  }
* {
    scrollbar-width: thin;
    scrollbar-color: var(--lightestPrimary) #cccccc ;
}

.s-loading {
    margin-bottom: 10px;
}