[theme="greenLight"] {
    --primary: #64ffda;
    --image-cover: #64ffda;
    --primary-darker: #349780;
    --background: #0a192f;
    --lightBackground: hsl(218, 58%, 16%);
    --nav-bg: rgba(10, 25, 47, 0.85);
    --slate: #8892b0;
    --lightSlate: #a8b2d1;
    --lightestSlate: #ccd6f6;
    --white: #e6f1ff;
    --navy-shadow: rgba(2, 12, 27, 1);

    // for linear gradient
    --linear-1: #ef4e7b;
    --linear-2: #a166ab;
    --linear-3: #5073b8;
    --linear-4: #1098ad;
    --linear-5: #07b39b;
    --linear-6: #6fba82;

    // profile gradient
    --profile-gradient-1: rgba(0, 51, 60, 1);
    --profile-gradient-2: rgba(0, 93, 102, 1);
    --profile-gradient-3: rgba(0, 159, 191, 1);
}

[theme="yellowOrange"] {
    --primary: #f0a500;
    --image-cover: #f0a500;
    --primary-darker: #e45826;
    --background: #222222;
    --lightBackground: #303030;
    --nav-bg: rgba(34, 34, 34, 0.85);
    --slate: #d3d6df;
    --lightSlate: #c1c5d1;
    --lightestSlate: #dfe2eb;
    --white: #e6f1ff;
    --navy-shadow: rgba(23, 23, 23, 1);

    // for linear gradient
    --linear-1: #53354a;
    --linear-2: #903749;
    --linear-3: #e84545;
    --linear-4: #e45826;
    --linear-5: #f0a500;
    --linear-6: #e6d5b8;

    // profile gradient
    --profile-gradient-1: #402c00;
    --profile-gradient-2: #f0a500;
    --profile-gradient-3: #ffbd2c;
}

[theme="underTheSea"] {
    --primary: #2aea5e;
    --image-cover: #2aea5e;
    --primary-darker: #00a941;
    --background: #021921;
    --lightBackground: #042631;
    --nav-bg: rgba(2, 25, 33, 0.768);
    --slate: #8892b0;
    --lightSlate: #a8b2d1;
    --lightestSlate: #ccd6f6;
    --white: #e6f1ff;
    --navy-shadow: rgba(1, 11, 14, 0.8);

    // for linear gradient
    --linear-1: #a9eafc;
    --linear-2: #177c59;
    --linear-3: #00a941;
    --linear-4: #00a941;
    --linear-5: #328552;
    --linear-6: #147439;

    // profile gradient
    --profile-gradient-1: #017d24;
    --profile-gradient-2: #26d557;
    --profile-gradient-3: #4bff7e;
}

[theme="NightBurns"] {
    --primary: #fc595f;
    --image-cover: #fc595f;
    --primary-darker: #d2494e;
    --background: #151515;
    --lightBackground: #25251d;
    --nav-bg: rgba(21, 21, 21, 0.713);
    --slate: #8892b0;
    --lightSlate: #a8b2d1;
    --lightestSlate: #ccd6f6;
    --white: #e6f1ff;
    --navy-shadow: rgba(0, 0, 0, 0.8);

    // for linear gradient
    --linear-1: #832e31;
    --linear-2: #a63c40;
    --linear-3: #d3494e;
    --linear-4: #e5585d;
    --linear-5: #df9395;
    --linear-6: #fff;

    // profile gradient
    --profile-gradient-1: #881d21;
    --profile-gradient-2: #fc595f;
    --profile-gradient-3: #ff7f84;
}

[theme="lightBurn"] {
    --primary: #b8005c;
    --image-cover: #dddddd;
    --primary-darker: #ff5a6a;
    --background: #dcdcdc;
    --lightBackground: #e9e9e9;
    --nav-bg: rgba(221, 221, 221, 0.734);
    --slate: #2b2b2b;
    --lightSlate: #3f3f3f;
    --lightestSlate: #444444;
    --white: #1b1b1c;
    --navy-shadow: rgba(0, 0, 0, 0.8);

    // for linear gradient
    --linear-1: #b8005c;
    --linear-2: #b8005c;
    --linear-3: #b8005c;
    --linear-4: #b8005c;
    --linear-5: #b8005c;
    --linear-6: #b8005c;

    // profile gradient
    --profile-gradient-1: #8b124f;
    --profile-gradient-2: #bb1669;
    --profile-gradient-3: #e61f83;
}

[theme="brightMind"] {
    --primary: #4b5ebe;
    --image-cover: #dddddd;
    --primary-darker: #ff5a6a;
    --background: #ffffff;
    --lightBackground: #e9e9e9;
    --nav-bg: rgba(255, 255, 255, 0.563);
    --slate: #2b2b2b;
    --lightSlate: #3f3f3f;
    --lightestSlate: #444444;
    --white: #1b1b1c;
    --navy-shadow: rgba(0, 0, 0, 0.8);

    // for linear gradient
    --linear-1: #b8005c;
    --linear-2: #b8005c;
    --linear-3: #b8005c;
    --linear-4: #b8005c;
    --linear-5: #b8005c;
    --linear-6: #b8005c;

    --font-size-lr: 30px;
    --font-size-md: 24px;
    --font-size-sm: 14px;

    --social-icon-light-color: #8895bf;

    // profile gradient
    --profile-gradient-1: #3749a6;
    --profile-gradient-2: #5d6ec5;
    --profile-gradient-3: #778cf5;
}
