.customTooltip {
    position: relative;
    z-index: 99;
    right: 0;

    &:after {
        background: var(--background);
        border-radius: 5px;
        bottom: -33px;
        // color: var(--primary);
        content: attr(gloss);
        right: 0%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: auto;
        white-space: nowrap;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }

    &:hover:after {
        visibility: visible;
        opacity: 1;
    }

    &:before {
        border: solid;
        border-color: var(--background) transparent;
        border-width: 0 6px 6px 6px;
        bottom: -4px;
        content: "";
        left: 40%;
        position: absolute;
        z-index: 99;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s;
    }

    &:hover:before {
        visibility: visible;
        opacity: 1;
    }
}
