.customTooltip {
    position: relative;
    z-index: 99;
    right: 0;

    &:hover:after {
        background: #eee;
        border-radius: 5px;
        bottom: -33px;
        color: black;
        content: attr(gloss);
        right: 0%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: auto;
        white-space: nowrap;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    }

    &:hover:before {
        border: solid;
        border-color: #ddd transparent;
        border-width: 0 6px 6px 6px;
        bottom: -4px;
        content: "";
        left: 40%;
        position: absolute;
        z-index: 99;
    }
}
